body {
    background: url()
}
.header {
    text-align: center;
    padding: 10px;
    margin: 10% 0 0 0;
}

.container-2 {
    display: flex;
    align-content: center; 
}

.container-2-input {
    flex:4;
}

.container-2-button {
    flex:1;
    
} 

.new-li {
    display:flex;
}

.text-div {
    flex:4;
}

.btn-div {
    flex:1;
}