body {
    background: url(background.jpg);
    background-size:cover;
    font-family: "Open Sans", sans-serif;

}

.container {
    background:rgba(211, 211, 211, .6);
    padding-top: 0px;
    margin-top: 10%;

}
.header {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    padding: 10px;
}

.container-2 {
    display: flex;
    align-content: center; 
    margin-bottom: 2%;
    justify-content: center;
}

.container-2-input {
    font-family: "Open Sans", sans-serif;
}
#textBox {
    width: 615px;
}
.btn.btn-info {
    font-family: "Open Sans", sans-serif;
}

.list {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.new-li {
    display:flex;
    padding: 4px;
    border: 1px solid rgba(145, 145, 145, .8);
    text-align: center;
    width: 66%;
    align-self: center;

}

.text-div {
    flex:4;
}

.btn-div {
    display:flex;
    justify-content: center;
    flex:1;
}

.completed {
    text-decoration: line-through;
}

.btn-primary {
    order: 1;
    height: 22px;
    margin: 4px;
}
.btn-danger {
    order: 3;
    height: 22px;
    margin: 4px;
}
.btn-success {
    order: 2;
    height: 22px;
    margin: 4px;
}